@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
 html {
	 background-color: white;
	 font-family: "Rubik", cursive;
	 color: black;
	 margin: 10px;
	 padding: 20px;
}
 body {
	 font-family: "Rubik", cursive !important;
}
 input {
	 padding: 15px;
	 border: 1px solid #ccc;
	 border-radius: 3px;
	 margin-bottom: 10px;
	 width: 100%;
	 box-sizing: border-box;
	 font-family: "Rubik", cursive !important;
	 color: #000;
	 font-size: 14px;
}
 textarea {
	 padding: 15px;
	 border: 1px solid #ccc;
	 border-radius: 3px;
	 margin-bottom: 10px;
	 width: 100%;
	 box-sizing: border-box;
	 font-family: "Rubik", cursive !important;
	 color: #000;
	 font-size: 14px;
	 margin-top: 10px;
	 height: 200px;
}
 .title {
	 font-weight: bolder !important;
	 font-family: "Rubik", cursive !important;
	 margin: 0px;
	 padding: 0px;
}
 .card {
	 width: 100%;
	 margin: auto;
	 background: #f2f2f2;
	 border-radius: 5px;
	 margin-block-end: 20px;
	 box-shadow: 0 0 2px 3px #d0d0d0;
}
 .container {
	 text-align: justify;
	 color: black;
	 padding: 20px;
}
 .subtitle {
	 font-weight: bold;
	 font-size: 16px;
}
 button {
	 position: absolute;
	 left: 40%;
	 width: 20%;
	 background-color: #1b5e20 !important;
	 border-radius: 5px;
	 font-size: 16px;
	 font-weight: bold;
	 color: white;
	 border: none;
	 padding: 8px 18px;
}
 button:hover {
	 background-color: #ad310b;
	 -webkit-transition: background-color 1000ms linear;
	 -ms-transition: background-color 1000ms linear;
	 transition: background-color 1000ms linear;
}
 .img-fcm {
	 float: right !important;
	 vertical-align: bottom;
}
 .img-unicamp {
	 float: left !important;
}

.header {
  text-align: center;
  height: 120px !important;
}

/* .card {
	 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	 background-color: white;
	 transition: 0.3s;
	 margin: 30px auto auto;
	 width: fit-content;
}
 .card:hover {
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 .container {
	 padding: 30px 30px;
}
 .title {
	 font-size: 18pt;
	 font-weight: bolder;
	 color: $color-accent;
}
 .subtitle {
	 font-weight: bold;
	 font-size: 12pt;
}
 .input {
	 margin-top: 5px;
}
 */
 
